@charset "utf-8";
/* CSS Document */
/* 初始化CSS  重置浏览器样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; } /*为了照顾ie6 链接图片有边框*/
img{display: block;}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
h1,h2,h3,h4,h5,h6{font-size:100%;}
body {font-size:12px; color:#666;font-family: "微软雅黑"}
a { color:#666; text-decoration:none; }
a:hover { color:#ff8400; text-decoration:none; }
i,em{font-style: normal;}
button{text-align: center;border: none;border-radius: 4px;background: #f69802;color: #fff;font-size: 14px;font-family: "微软雅黑";cursor: pointer;outline: none;}
/* 版心 */
.container{
    width: 1140px;
    margin: 0 auto;
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 头部 */
.header{
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header h1 a{
    color: #fff;
}
.header .nav{
    font-size: 0;
}
.header .nav li{
    display: inline-block;
    font-size: 14px;
    padding-left: 50px;
}
.header .nav li a{
    color: #fff;
}
.header .nav li a:hover{
    color: #f69802;
}
.header .nav li.active a{
    color: #f69802;
}
.content{
    min-height: 800px;
}
/* 底部 */
.footer{
    height: 70px;
    line-height: 70px;
    background-color: #3e364d;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}