/* 头部区域 */
.headerBg{
    height: 800px;
    background: url("../img/header-banner.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
.headerBg .greet{
    text-align: center;
    color: #fff;
    font-size: 44px;
    padding-top: 100px;
}
.headerBg .greet .logo{
    display: block;
    margin: 0 auto 40px;
}
.headerBg .greet p {
    padding-bottom: 30px;
    letter-spacing: 3px;
}
.headerBg .greet h2{
    font-size: 50px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}
.headerBg .greet .line{
    height: 2px;
    width: 400px;
    margin: 40px auto;
    background-color: #736588;
}
.headerBg .info{
    font-size: 0;
    padding-top: 80px;
}
.headerBg .info li{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 33%;
}
.headerBg .info li span{
    color: #f69802;
}
/* 关于我 */
.aboutMe{
    padding: 70px 0;
    background-color: #524664;
}
.aboutMe .logo{
    display: block;
    margin: 0 auto 10px;
}
.aboutMe .title{
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 24px;
}
.aboutMe .line{
    height: 2px;
    width: 80px;
    margin: 0px auto 40px;
    background-color: #736588;
}
.aboutMe .intro{
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 38px;
}
