.header{
    background-color: #4b4159;
}
.musicBox .banner{
    /* height: 336px; */
    background-color: #190b29;
}
.musicBox .banner img{
    height: auto;
    width: 1140px;
    margin: 0 auto;
}
.musicBox h3{
    line-height: 40px;
    color: #222;
    border-bottom: 2px solid #f69802;
    font-size: 20px;
    text-indent: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}
.musicBox .musicList{
    font-size: 0;
}
.musicBox .musicList li{
    display: inline-block;
    width: 250px;
    font-size: 16px;
    color: #222;
    padding-bottom: 30px;
    vertical-align: top;
    margin-right: 40px;
}
.musicBox .musicList li img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.musicBox .musicList li a{
    text-decoration: underline;
}
.musicListBox h3{
    line-height: 40px;
    color: #222;
    border-bottom: 2px solid #f69802;
    font-size: 20px;
    text-indent: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}
.musicListBox table{
    width: 100%;
    margin-top: 50px;
}
.musicListBox table td,.musicListBox table th{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #edc9a3;
    text-align: center;
}
.musicListBox table th{
    font-size: 16px;
}
.musicListBox .play{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../musicAppreciation/img/play.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}