*{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #5a7fa1;
}
.areaHeart{
    width: 1000px;
    margin: 0 auto;
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.header{
    height: 60px;
    line-height: 60px;
    padding-top: 40px;
    background: url("../img/headerBg.jpg") no-repeat;
    background-size: 100% auto;
    color: #333;
}
.header .logoIcon{
    display: inline-block;
    height: 60px;
    width: auto;
    vertical-align: top;
    margin-right: 15px;
}
.header .innerBox{
    height: 60px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
.header .logo{
    width: 25%;
    float: left;
    color: #fff;
}
.header .logo h1{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    color: #9c872c;
}
.header .logo h1 a{
    color: #9c872c;
    letter-spacing: 2px;
}
.header .nav{
    width: 70%;
    float: right;
    text-align: right;
    font-size: 0;
    height: 60px;
}
.header .nav li{
    display: inline-block;
    font-size: 14px;
    height: 60px;
}
.header .nav li a{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    padding: 0 15px;
}
.header .nav li a:hover{
    color: #fff;
    background-color: #5a7fa1;
}
.header .nav li.active a{
    color: #fff;
    background-color: #5a7fa1;
}
.wrapBanner{
    position: relative;
    height: 430px;
    overflow: hidden;
}
.arrow{
    position: absolute;
    width: 70px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    top: 30px;
    z-index: 1000;
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    display: none;
}
.arrow_left{
    left: 0px;
}
.arrow_left i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/turn_left.png") no-repeat;
    background-size: 100% 100%;
}
.arrow_right{
    right: 0px;
}
.arrow_right i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/turn_right.png") no-repeat;
    background-size: 100% 100%;
}
.bannerList{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    margin-top: 30px;
    font-size: 0;
    width: 3500px;
}
.bannerList li{
    display: inline-block;
    width: 1000px;
    height: 400px;
}
.bannerList li:nth-child(1){
    background: url("../img/banner01.jpg") no-repeat;
    background-size: cover;
}
.bannerList li:nth-child(2){
    background: url("../img/banner02.jpg") no-repeat;
    background-size: cover;
}
.bannerList li:nth-child(3){
    background: url("../img/banner03.jpg") no-repeat;
    background-size: cover;
}
.content .inform{
    padding: 20px 0;
    margin-top: 10px;
}
.content .inform .innerBox{
    position: relative;
    padding-left: 180px;
    height: 150px;
    text-align: right;
}
.content .inform .innerBox .icon{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: url("../img/img2.jpg") no-repeat;
    background-size: cover;
}
.content .inform .innerBox .icon2{
    background: url("../img/img2.png") no-repeat;
    background-size: cover;
}
.content .inform .innerBox li{
    line-height: 30px;
    text-align: left
}
.content .inform h3{
    color: #222;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    border-bottom: 2px solid #f8d6a6;
    margin-bottom: 20px;
}
.inform .more{
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: #9c872c;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 5px;
}
.footer{
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    background-color: #eee;
    font-size: 12px;
}
.addressList h3{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.addressList{
    margin-top: 20px;
    margin-bottom: 10px;
}
.addressList .head{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #ccc;
}
.addressList ul li{
    display: inline-block;
    width: 180px;
    text-align: center;
    margin-bottom: 15px;
}
.addressList ul li .name{
    font-size: 16px;
    color: #222;
    line-height: 40px;
}
.addressList ul li .phone{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../addressList/img/phone.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.addressList ul li .tel{
    font-size: 12px;
    color: #999;
}
.photoList{

}
.photoList h3{
    margin-top: 30px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f8d6a6;
}
.photoList li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}
.photoList li:nth-child(4n+4){
  margin-right: 0;
}
.photoList li:nth-child(1) img{
    width: 100%;
}
.photoList li img{
    width: 237px;
    height: auto;
}
.photoList .loadMore{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: none;
    background-color: #eee;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.news{
    margin-bottom: 20px;
}
.news h3{
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid #9c872c;
    margin-bottom: 10px;
    margin-top: 30px;

}
.news h3 span{
    padding: 0 10px;
    background-color: #9c872c;
    display: inline-block;
    border-radius: 5px 5px 0 0;
}
.news table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.news table th{
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
.news table th.title{
    text-align: left;
}
.news table td.title{
    text-align: left;
}
.news table td.title a{
    color: #5a7fa1;
}
.news table td.title a:hover{
    color: #9c872c;
    text-decoration: underline;
}
.news table td{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #ccc;
}
.news .more{
    text-align: right;
    line-height: 1;
    font-size: 14px;
    color: #5a7fa1;
    padding-top: 15px;
}
.news .more a{
    color: #5a7fa1;
}
.newsDetails h4{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.newsDetails .intro{
    line-height: 36px;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.newsDetails .currentPos{
    margin-top: 30px;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.newsDetails .currentPos span{
    color: #9c872c;
}
#ArticleCnt p{
    line-height: 26px;
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
    text-indent: 2em;
}
.dowloadArea{
    margin-top: 30px;
    min-height: 750px;
}
.dowloadArea h3{
    margin-top: 30px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f8d6a6;
}
.dowloadArea li{
    line-height: 34px;
}
.classIntroduction{
    min-height: 700px;
}
.classIntroduction h3{
    text-align: center;
    margin-top: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}
.classIntroduction h3 span{
    display: inline-block;
    font-size: 20px;
    color: #666;
    font-weight: bold;
    border-bottom: 2px solid #f8d6a6;
}
.classIntroduction .innerBox{
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    margin-bottom: 40px;
}
.classIntroduction li{
    padding-left: 30px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
}
.classIntroduction img{
    width: 500px;
    height: auto;
}
.classIntroduction .prize{
    width: 300px;
    height: auto;
}
.classNews{
    padding: 40px 0;
    font-size: 0;
    min-height: 665px;
}
.classNews .leftBox{
    width: 35%;
    float: left;
}
.classNews .rightBox{
    width: 61%;
    float: left;
    padding-left: 4%;
}
.classNews .leftBox .newsItem{
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-radius: 5px 5px 0 0;
}
.classNews .leftBox .newsItem h4{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #9c872c;
    border-radius: 5px 5px 0 0;
    text-indent: 15px;
    font-weight: normal;
}
.classNews .leftBox .newsItem li{
    font-size: 14px;
    line-height: 18px;
    color: #444;
    padding: 10px 15px;
}
.classNews .rightBox h4{
    font-size: 16px;
    font-weight: normal;
    color: #222;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.classNews .rightBox .time{
    color: #999;
    font-size: 12px;
    line-height: 40px;
}
.classNews .rightBox p{
    line-height: 30px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    text-indent: 2em;
}
.classNews .rightBox img{
    margin-bottom: 15px;
}
.classNews .rightBox .publisher{
    text-align: right;
    line-height: 50px;
    margin-top: 50px;
}