*{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #DF5157;
}
.areaHeart{
    width: 1000px;
    margin: 0 auto;
}
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
.header{
    height: 60px;
    line-height: 60px;
    padding-top: 20px;
    background-color: #f8d6a6;
    color: #333;
}
.header .innerBox{
    height: 60px;
    padding: 0 20px;
    background-color: #7fd7ff;
}
.header .logo{
    width: 25%;
    float: left;
}
.header .logo h1{
    font-size: 20px;
}
.header .nav{
    width: 70%;
    float: right;
    text-align: right;
}
.header .nav li{
    display: inline-block;
    margin-left: 40px;
}
.banner img{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.content .inform{
    padding: 20px 0;
    margin-top: 10px;
}
.content .inform .innerBox{
    position: relative;
    padding-left: 180px;
    height: 150px;
    text-align: right;
}
.content .inform .innerBox .icon{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: url("../img/img2.jpg") no-repeat;
    background-size: cover;
}
.content .inform .innerBox .icon2{
    background: url("../img/img2.png") no-repeat;
    background-size: cover;
}
.content .inform .innerBox li{
    line-height: 30px;
    text-align: left
}
.content .inform h3{
    color: #222;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    border-bottom: 2px solid #f8d6a6;
    margin-bottom: 20px;
}
.more{
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: #DF5157;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 5px;
}
.footer{
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    background-color: #eee;
    font-size: 12px;
}
.addressList h3{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.addressList{
    margin-top: 20px;
    margin-bottom: 10px;
}
.addressList .head{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #ccc;
}
.addressList ul li{
    display: inline-block;
    width: 180px;
    text-align: center;
    margin-bottom: 15px;
}
.addressList ul li .name{
    font-size: 14px;
    color: #222;
    line-height: 40px;
}
.addressList ul li .tel{
    font-size: 12px;
    color: #999;
}
.photoList{

}
.photoList h3{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f8d6a6;
}
.photoList li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}
.photoList li:nth-child(4n+4){
  margin-right: 0;
}
.photoList li:nth-child(1) img{
    width: 100%;
}
.photoList li img{
    width: 237px;
    height: auto;
}
.photoList .loadMore{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: none;
    background-color: #eee;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}